import init.mt6797.usb.rc
import init.connectivity.rc
import init.sensor.rc
import init.mal.rc
import init.modem.rc

on init
    mkdir /protect_f 0771 system system
    mkdir /protect_s 0771 system system
    mkdir /nvcfg 0771 system system
    mkdir /nvdata 0771 system system
    mkdir /custom

    # BATTERY proc
    chown shell system /proc/mtk_battery_cmd/current_cmd
    chown shell system /proc/mtk_battery_cmd/discharging_cmd

    # change lk_env permission
    chown root system /proc/lk_env
    chmod 0660 /proc/lk_env

    # increase sysctl_rmem_max and sysctl_wmem_max values to 2M
    write /proc/sys/net/core/wmem_max 8388608
    write /proc/sys/net/core/rmem_max 8388608

    # update cpus for cpuset cgroup
    write /dev/cpuset/foreground/cpus 0,2-9
    write /dev/cpuset/foreground/boost/cpus 0,2-9
    write /dev/cpuset/background/cpus 0,2-3
    write /dev/cpuset/system-background/cpus 0,2-7
    write /dev/cpuset/top-app/cpus 0-9

on charger
    mount ext4 /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/system /system ro wait
    chmod 0660 /dev/spm
    chown system system /dev/spm
    start spm_script
    chmod 0666 /dev/kmsg
    start fuelgauged

on fs
    mount_all /fstab.mt6797

on post-fs
    # Support legacy paths
    symlink /sdcard /storage/sdcard0

    chown system system /proc/bootprof
    chmod 0664 /proc/bootprof
    chown root system /proc/mtprof/cputime
    chown root system /proc/mtprof/reboot_pid

    chown system system /protect_f
    chmod 0770 /protect_f

    chown system system /protect_s
    chmod 0770 /protect_s

on late-fs
    # boot time fs tune
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/nr_requests 256

on post-fs-data
    chown system system /nvcfg
    chmod 0771 /nvcfg
    restorecon_recursive /nvcfg

    chown root system /nvdata
    chmod 0771 /nvdata
    symlink /nvdata /data/nvram
    mkdir /nvdata/media 0771 media audio

    # create cct mount point
    mkdir /data/cct
    chown root system /data/cct
    chmod 0771 /data/cct

    # Set SELinux security contexts on upgrade or policy update.
    restorecon_recursive /nvdata

    chmod 0660 /data/misc/wifi/p2p_supplicant.conf

    chmod 0660 /dev/rfkill

    # create for muxd pts device node , to operate without root
    mkdir /dev/radio 0770 radio radio

    mkdir /data/drm/wv 0770 drm system

    # GPS
    mkdir /data/gps_mnl 0771 gps system
    mkdir /data/misc/gps 0770 gps system
    mkdir /data/mpe_mnl 0771 gps system
    mkdir /data/mpe_flp 0771 gps system
    chown gps system /data/mpe_mnl
    chmod 0666 /dev/gps_emi

    # NFC
    mkdir /data/nfc_socket 0771 nfc radio

    chmod 666 /dev/mali0

    # watch dog kicker
    write /proc/wdk "0 20 30"

    # set ptmx group to non-root
    chown root radio /dev/ptmx

    # RTC
    mkdir /data/misc/rtc 0770 system system

    # M4U
    chmod 0444 /dev/m4u

    # set mlock limit to infinate (for m4u operation)
    setrlimit 8 -1 -1

    # CMDQ
    chmod 0640 /dev/mtk_cmdq
    chown system system /dev/mtk_cmdq

    # VideoCodec
    chmod 0660 /dev/Vcodec
    chown media camera /dev/Vcodec

    # MJC
    chmod 0660 /dev/MJC
    chown media system /dev/MJC

    # Sensors
		mkdir /data/misc/sensor 0774 system system

    # Display
    chmod 0660 /dev/graphics/fb0
    chown system graphics /dev/graphics/fb0

    chmod 0660 /dev/mtk_disp_mgr
    chown system graphics /dev/mtk_disp_mgr

    chmod 0660 /dev/mtkfb_vsync
    chown system graphics /dev/mtkfb_vsync

    chmod 0660 /dev/sw_sync
    chown system graphics /dev/sw_sync

    # FM Radio device node
    chmod 0660 /dev/fm
    chown media media /dev/fm

    # device info /proc interface
    chmod 0440 /dev/devmap
    chown system camera /dev/devmap

    # bluetooth
    mkdir /data/@btmtk 0770 bluetooth net_bt
    chown bluetooth bluetooth /data/@btmtk/host_cache
    chown bluetooth bluetooth /data/@btmtk/dev_cache
    # Use uinputs default permission
    chown system net_bt_admin /dev/uinput

    # HDMI
    chown media system /dev/hdmitx
    chmod 0664 /dev/hdmitx

    # ANC SERVICE
    chmod 0640 /dev/ancservice
    chown media media /dev/ancservice

    # Camera
    chmod 0660 /dev/camera-isp
    chmod 0660 /dev/camera-dpe
    chmod 0660 /dev/camera-fdvt
    chmod 0660 /dev/kd_camera_hw
    chmod 0660 /dev/kd_camera_flashlight
    chmod 0660 /dev/kd_camera_hw_bus2
    chmod 0660 /dev/MAINAF
    chmod 0660 /dev/SUBAF
    chmod 0660 /dev/CAM_CAL_DRV

    chown system camera /dev/camera-isp
    chown system camera /dev/camera-dpe
    chown system camera /dev/camera-fdvt
    chown system camera /dev/kd_camera_hw
    chown system camera /dev/kd_camera_flashlight
    chown system camera /dev/kd_camera_hw_bus2
    chown system camera /dev/MAINAF
    chown system camera /dev/SUBAF
    chown system camera /dev/CAM_CAL_DRV

    # VOW
    chmod 0640 /dev/vow
    chown media media /dev/vow

    # SMI
    chmod 0660 /dev/MTK_SMI
    chown system camera /dev/MTK_SMI

    chmod 0664 /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario
    chown system camera /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario

    # mtk_sched
    chmod 0660 /dev/mtk_sched
    chown system media /dev/mtk_sched

    # Serial number
    chmod 0664 /sys/class/android_usb/android0/iSerial
    chown root system /sys/class/android_usb/android0/iSerial
    chmod 0664 /sys/class/udc/musb-hdrc/device/cmode
    chown root system /sys/class/udc/musb-hdrc/device/cmode

    # AGPS
    mkdir /data/agps_supl 0771 gps system

    # Thermal
    mkdir /data/.tp/ 0775 system system

    # Fingerprint
    chmod 0660 /dev/esfp0
    chown system system /dev/esfp0

    # IO Scheduler
    chown system system /sys/block/mmcblk0/queue/scheduler
    chmod 0660 /sys/block/mmcblk0/queue/scheduler

    # Smartwake
    chown system system /sys/devices/soc/soc:touch@/smartwake_active
    chown system system /sys/devices/soc/soc:touch@/wakeup_gesture

on boot
    write /proc/sys/vm/dirty_writeback_centisecs 300
    chmod 0660 /sys/power/autosleep

    chmod 0664 /sys/class/leds/lcd-backlight/brightness

    chown system system /sys/class/leds/lcd-backlight/trigger
    chown system system /sys/class/leds/red/trigger
    chown system system /sys/class/leds/green/trigger
    chown system system /sys/class/leds/blue/trigger

    # HMP CPU hotplug strategy
    chown system system /proc/hps/num_base_perf_serv
    chmod 0660 /proc/hps/num_base_perf_serv
    chown system system /proc/hps/num_limit_power_serv
    chmod 0660 /proc/hps/num_limit_power_serv
    chown system system /proc/hps/down_threshold
    chmod 0660 /proc/hps/down_threshold
    chown system system /proc/hps/up_threshold
    chmod 0660 /proc/hps/up_threshold

    # PPM
    chown system system /proc/ppm/mode
    chmod 0660 /proc/ppm/mode
    chown system system /proc/ppm/policy/perfserv_min_perf_idx
    chmod 0440 /proc/ppm/policy/perfserv_min_perf_idx
    chown system system /proc/ppm/policy/perfserv_max_perf_idx
    chmod 0440 /proc/ppm/policy/perfserv_max_perf_idx
    chown system system /proc/ppm/policy/perfserv_perf_idx
    chmod 0660 /proc/ppm/policy/perfserv_perf_idx
    chown system system /proc/ppm/policy/userlimit_min_cpu_freq
    chmod 0660 /proc/ppm/policy/userlimit_min_cpu_freq
    chown system system /proc/ppm/policy/userlimit_max_cpu_freq
    chmod 0660 /proc/ppm/policy/userlimit_max_cpu_freq
    chown system system /proc/ppm/policy/userlimit_min_cpu_core
    chmod 0660 /proc/ppm/policy/userlimit_min_cpu_core
    chown system system /proc/ppm/policy/userlimit_max_cpu_core
    chmod 0660 /proc/ppm/policy/userlimit_max_cpu_core

    # CPU freq
    chown system system /proc/cpufreq/cpufreq_limited_by_hevc
    chmod 0660 /proc/cpufreq/cpufreq_limited_by_hevc
    chown system system /proc/cpufreq/cpufreq_limited_max_freq_by_user
    chmod 0660 /proc/cpufreq/cpufreq_limited_max_freq_by_user

    # BW monitor
    chown system system /proc/fliper
    chmod 0664 /proc/fliper

    # WMT proc
    chown shell system /proc/driver/wmt_dbg
    chown shell system /proc/driver/wmt_aee

on property:sys.boot_completed=1
    # end boot time fs tune
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/nr_requests 128
    write /sys/block/mmcblk0/queue/iostats 1

on property:vold.decrypt=trigger_reset_main
    start stop_modem
    setprop sys.boot_completed 0
    setprop dev.bootcomplete 0
    setprop service.nvram_init 0

on property:vold.decrypt=trigger_restart_min_framework
    start nvram_daemon
    start start_modem
    start msensord

on property:vold.decrypt=trigger_restart_framework
    start nvram_daemon
    start start_modem
    start msensord

on property:vold.decrypt=trigger_shutdown_framework
    start stop_modem
    setprop sys.boot_completed 0
    setprop dev.bootcomplete 0
    setprop service.nvram_init 0

service stop_modem /vendor/bin/md_ctrl 0
    class main
    disabled
    oneshot

service start_modem /vendor/bin/md_ctrl 1
    class main
    disabled
    oneshot

# start ged_srv
on property:sys.boot_completed=1
    start ged_srv

service ged_srv /vendor/bin/ged_srv
    class core
    user system
    group system readproc
    disabled

service nvram_daemon /vendor/bin/nvram_daemon
    class main
    user root
    group system
    oneshot

service pq /vendor/bin/pq
    class main
    user system
    group system graphics

service agpsd /vendor/bin/mtk_agpsd
    class main
    socket agpsd stream 660 gps system
    socket agpsd2 stream 660 gps inet
    socket agpsd3 stream 660 gps inet
    user gps
    group gps radio inet sdcard_r sdcard_rw misc system

#
# emsvr service (start)
#

service emsvr_user /vendor/bin/em_svr
    class main
    user system
    group system radio diag net_bt_stack

#
# emsvr service (end)
#

service thermalloadalgod /vendor/bin/thermalloadalgod
    class main
    user system
    group system

service thermal_manager /vendor/bin/thermal_manager
    class main
    user root
	group system
    oneshot

service thermal /vendor/bin/thermal
    class main
    user system
    group system

service thermald /vendor/bin/thermald
    class main
    user system
    group system

service fuelgauged /vendor/bin/fuelgauged
    class main
    user root
    group root

# Charger
service charger /sbin/healthd -c
    class charger
    critical
    seclabel u:r:healthd:s0

# Fingerprint
service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group input

service etsd /vendor/bin/etsd
    class late_start
    user system

service spm_script /vendor/bin/spm_loader
    user root
    group root
    class core
    oneshot
